* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Jost', sans-serif;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#time {
    font-size: 1.75cm; 
    font-weight: 100;
    line-height: 1.9cm;
}

h1 {
    font-size: 1cm;
    font-weight: 500;
    margin-bottom: 2vh;
}

h2 {
    font-size: 0.6cm;
    opacity: 0.7;
	font-weight: 100;
}
